name: CI
on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ "*" ]

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    permissions:
      contents: read
      pull-requests: read
    uses: codello/.github/.github/workflows/go-lint.yml@v0

  test:
    name: Test
    uses: codello/.github/.github/workflows/go-test.yml@v0
    with:
      go-versions: go.mod,1.19.x,1.20.x
      test-on: ubuntu-latest,macos-latest,windows-latest

  build:
    name: Build
    uses: codello/.github/.github/workflows/go-build.yml@v0
    with:
      packages: ./...
      artifact: false
      platforms:
        linux/amd64,
        linux/arm64,
        linux/arm,
        linux/386,
        darwin/amd64,
        darwin/arm64,
        windows/amd64
